<!DOCTYPE html>
<html>
<head>
  <title>Forevernote</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header>
    <div>
      <% if current_user %>
        Welcome <%= current_user.name %> !
        <%= link_to "Sign Out", signout_path %>
        <%= link_to "Allow Instragram Access", "/auth/instagram" %>
        <%= link_to "Allow EverNote Access", "/auth/evernote" %>

      <%else%>
        <%= link_to "Sign in: Twitter", "/auth/twitter" %>
      <%end%>
    </div>
  </header>

<%= yield %>


</body>
</html>
